[Unit]
Description=Default interactive shell

[Dependencies]
After=base.target

[Service]
Type=simple
ExecStart=/bin/sh
Restart=always
RestartDelaySec=1

[Install]
WantedBy=base.target
